

.backgroundImg {
    background-image: url('../../Images/8kbackgroundmenubar.png'); 
    background-size: cover; 
        background-position: center; 
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100vw;
    display: flex;
    z-index: -3;
}
.menuBarContainer {
    width: 680px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative; 
    background-image: url('../../Images/8k.png');
    background-size: cover;
    background-position: center;
    border-radius: 20px; 
    overflow: hidden;
    
}

.menuBarContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 20px; /* Match the border radius of the container */
    z-index: 1;
    border: 10px solid transparent; /* Gjør selve kanten usynlig */
    border-image: linear-gradient(45deg, #0077ff, #16f821) 1; /* Legger til en gradient som kant */

}

.menuBarContainer > * {
    position: relative;
    z-index: 2; 
}

.customNavbar {
    border-radius: 25px; /* Adjust the value as needed */
  }
  
  

span {
    cursor: pointer;
    width: 100%;
}

.titleSpan {
    cursor: pointer;
    width: 100%;
    display: block; 
    text-align: center; 
    padding: 10px; 
    background-color: black; 
    border-radius: 5px; 
    color: white;
    font-style: normal;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titleSpan:hover {
    background-color: rgba(255, 255, 255, 0.2); 
}

ul {
    font-size: 18px;
    line-height: 1.5;
    padding-left: 20px;
    margin-bottom: 20px;
}

ul li {
   margin-bottom: 5px;
}

h5 {
    margin-top: 20px;
}

.modalDialog {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

.modalContent {
    height: 750px; 
    max-width: 100%; 
    margin: auto;
}

.modalBody {
    overflow-y: auto; 
}

.modalFade {
    transition: transform 0.3s ease-out, opacity 0.3s ease-out; 
}

.modalFadeShow {
    transform: none; 
    opacity: 1;
}

.modalFadeHidden {
    transform: translate(0, -25%); 
    opacity: 0; 
}

/* Responsive Styles */
@media (max-width: 768px) {
    .menuBarContainer {
        width: 100%;
        height: auto;
        padding: 10px;
    }
    ul {
        font-size: 14px;
        line-height: 1.5;
        padding-left: 5px;
        margin-bottom: 15px;
    }
    
    ul li {
       margin-bottom: 8px;
    }
    
    h5 {
        margin-top: 20px;
    }
    .titleSpan {
        font-size: medium;
        padding: 8px;
    }
}

@media (max-width: 576px) {
    .menuBarContainer {
        flex-direction: column;
        width: 100%;
    }

    .titleSpan {
        text-align: center;
        font-size: small;
        
    }
}
.col12Background {

  background-image: url('../../Images/didriik.png'); 
  background-size: cover;
  background-position: center;


}
.container{
    background-image: url('../../Images/sf.webp'); 
    background-size: cover;
    background-position: center;
    height: 125%;
    width: 125%;
    border-radius: 12px;
    
}