.video-intro {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  z-index: 2;
  justify-content: center;
  display: flex;
}

.video-intro video {
  object-fit: cover;
  justify-content: center;
  object-fit: cover;
}

@media (max-width: 768px) {
  .video-intro video {
    object-fit: contain; 
  }
}


.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.fade-in.visible {
  opacity: 1; 
}

