.video-intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 0;
  user-select: none;
  -webkit-user-select: none;

}
.Image-intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  user-select: none;
  -webkit-user-select: none;
  z-index: 0;
}

.Intro-video,
.Intro-Image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 640px;
  height: auto;
  object-fit: contain;
  transform: translate(-50%, -25%);
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  z-index: 1;
  user-select: none;
  -webkit-user-select: none;
}


@media (min-width: 1200px) {
  .Intro-video,
  .Intro-Image {
    transform: translate(-43%, -25%);
  }
}



@media (max-width: 768px) {
  .Image-intro img {
    object-fit: contain; 

  }
}


.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.fade-in.visible {
  opacity: 1; 
}

.image-1{
height: 500px;
width: 500px;
display: flex;
z-index: 2;
position: relative;
}

.image-2{
  height: 500px;
  width: 500px;
  display: flex;
  z-index: 2;
  position: relative;

}